


{% extends "layout.html" %}

{% block content %}

<div class="content">
    <h1>Add a new user</h1>
    <p>Please fill out the form and then submit to add to user list</p>



    <form action="/users/guess" method="POST">

        <p>Enter two different twitter users and and a tweet.</p>
        <p>Press the button and will use our model to see who is most likely to have tweeted the tweet</p>

        <label for="name1">Twitter username 1</label>
        <input type="text" name="name1" id="name1" >
        
        <label for="name2">Twitter username 2</label>
        <input type="text" name="name2", id="name2">

        <button class="button button2">Submit</button>

    </form>
    <div style="padding-top: 12px;">
        {{ the_answer}}
    </div>
</div>




{% endblock %}