


{% extends "layout.html" %}

{% block content %}

<div class="content">
    <h1>Add a new user</h1>
    <p>Please fill out the form and then submit to add a user to the database</p>



    <form action="/user/add" method="POST">

        

        <label for="twitter_name">Twitter handle</label>
        <input type="text" name="twitter_name" id="name1" >
        
        

        <button class="button button2">Add</button>

    </form>
    <div style="padding-top: 12px;">
        {{ the_answer}}
    </div>
</div>




{% endblock %}